<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <!-- <% include ./partials/nav.ejs %> -->
      <ul class="main-nav">
        <li class="left"><a href="/uplifts"><img src="/images/logo/uplift_logo.png" style="background-color:ghostwhite"></a></li>
        <li class="right"><a href="/uplifts/new">CREATE</a></li>
        <!-- <li class="right"><a href="/uplifts">LOGOUT</a></li> -->
        <!-- <%# if(currentUser) { %> -->
        <li class="right">
          <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" type="button" class="btn btn-link" value="LOGOUT">
          </form>
        </li>
        <!-- <%# } %> -->
      <ul>
    </div>

    <!-- <div class="main"> -->
    <div class="container-fluid">
      <!-- <section class="jumbotron"> -->
        <h1>
          <% if(currentUser) { %>
            Welcome <%=currentUser.username%>!
          <% } else { %>
            Welcome!!!
          <% } %>
        </h1><br />
        <!-- <h3>upLIFT Yourself</h3><br /><br /> -->
      <!-- </section> -->
        <h4>Today, I...</h4><br />
        <div class="row">
        <!-- <div class="container-uplifts"> -->
            <% for(let i = 0; i < uplifts.length; i++) { %>
                <p class="col-sm-4">
                <%=uplifts[i].type%>
                <a href="/uplifts/<%=uplifts[i].id;%>">
                <img class="img-uplift" src="<%=uplifts[i].img;%>"></a><br />
                <%=uplifts[i].description%><br /><br />
                <!-- <%#=Object.keys(uplifts[i])%><br /><br /> -->
                <!-- <button id="openModal" type="button" class="btn btn-outline-primary">Open</button>
                <button id="openModal" type="button" class="btn btn-outline-info">Open</button><br />
                <button id="openModal" type="button" class="btn btn-outline-primary btn-lg btn-block">Open</button><br />
                <button id="openModal" type="button" class="btn btn-outline-info btn-lg btn-block">Open</button><br />
                <button type="button" class="btn btn-primary">Open</button>
                <button type="button" class="btn btn-info">Open</button><br /><br /> -->


                <a class="btn btn-info btn-lg btn-block" style="background-color:var(--bright-blue);" href="/uplifts/<%=uplifts[i].id;%>" role="button">Open</a>
                <!-- open button needs to connect to show page -->
                <!-- <button type="button" class="btn btn-info btn-lg btn-block btn-link" href="/uplifts/:id/<%#=i%>">Open</button> -->
                <!-- <div id="modal">
                </div> -->
                <!-- <button type="button" class="btn btn-outline-primary">Primary</button> -->
            <% } %>
        </div>
    </div>
  </body>
</html>
