<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div>
      <!-- <% include ./partials/nav.ejs %> -->
      <ul class="main-nav">
        <li class="left"><button type="button" class="btn btn-outline-info">LOGO GOES HERE</button>
        <li class="right"><a href="/uplifts/gallery">GALLERY</a></li>
        <li class="right"><a href="/">LOGOUT</a></li>
      <ul>
    </div>
    <div class="container-fluid">
      <section class="jumbotron">
        <h1>upLIFT</h1><br />
        <h3>upLIFT Yourself</h3><br /><br />
        <h4>Today, I...</h4>
        <div class="main">
            <p class="col-sm-4">
              <!-- type -->
              <div class="heading-uplift">
                <%=uplift.type%><br /><br />
              </div>
              <!-- image -->
              <img class="img-uplift" src="<%= uplift.img %>"><br /><br />
              <!-- description -->
              <div class="description-uplift">
                <%=uplift.description%>
              </div>

              <!-- <a href="/uplifts/<%#=uplift.id;%>/edit" class="btn btn-link">EDIT</a> -->
              <form action="/uplifts/gallery/<%=uplift.id;%>?_method=DELETE" method="POST">
                <a href="/uplifts/gallery/<%=uplift.id;%>/edit" class="btn btn-link">EDIT</a>
                <input type="submit" value="DELETE" class="btn btn-link">
              </form>
        </div>
      </section>
    </div>
  </body>
</html>
